mixin chat(name, description, avatar, time)
  a(href="#").chat.d-flex.align-items-center
    img(src=avatar alt=name).chat-avatar
    span.flex-grow-1.p-4.overflow-hidden
      span.d-flex.justify-content-between
        span.chat-name=name
        span.chat-time=time
      small.chat-description.d-block=description